.examples{
    background-color: #000;
    padding-bottom: 60px;
    &__content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__title{
        padding: 60px 0;
        font-size: 40px;
        line-height: 50px;
        font-weight: 500;
        color: white;
        background-color: #B380FF;
        background-image: linear-gradient(50deg, #B380FF 10%,   #7AF0FF 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__list{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-gap: 30px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 16px;
        font-weight: 400;
        gap: 20px;
        max-width: 340px;
        background-color: #26262B;
        padding: 20px;
        height: 340px;
        &__content{
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 340px;
        }
        &__title{
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;
        }
        &__text{
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
        &__code{
            display: block;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            background-color: #00184D;
            padding: 10px;
            color: white;

        }
    }
}

@media (max-width: 768px) {
    .examples{
        &__title{
            font-size: 40px;
            line-height: 50px;
        }
        &__list{
            grid-template-columns: repeat(2, 1fr);

        }
    }
    

}

@media (max-width: 600px) {
    .examples{
        &__title{
            font-size: 30px;
            line-height: 40px;
        }
        &__list{
            grid-template-columns: 1fr; 
        }
    }
}
@media (max-width: 480px) {
    .examples{
        &__title{        
            font-size: 30px;
            line-height: 40px;
        }
        &__list{
            grid-template-columns: 1fr;
        }
    }   
    
}